<div class="fixed">
    <a href="https://www.linkedin.com/in/kris-shannon-450479174/" target="_blank">
        <img src="img/linkedinIcon.png" alt="LinkedIn Icon">
    </a>
    <a href="mailto:kshannon7@gmail.com?subject=JobOpportunities" target="_blank">
        <img src="img/GmailIcon.png" alt="Gmail Icon">
    </a>
    <a href="https://my.indeed.com/p/kriss-ergjdni" target="_blank">
        <img src="img/indeed.png" alt="Indeed Icon">
    </a>
    <h3>Kris Shannon - Software Developer | User Interface Designer</h3>
</div>